.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.li {
  text-align: left;
}

.box {
  display : block;
  margin : 10px 0;
}

textarea {
  display : block;
}
