<div class="container">
  <h1>Welcome to Mini-Craigslist!</h1>
  
  <ul>
  <% @categories.each do |category|%>
    <li><a href=<%="/#{category.name}"%>> <%= category.name %> </a></li>
  <% end %>
  </ul>

</div>
